/* ОСНОВА СТРАНИЦЫ */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 750px;

    background: linear-gradient(to top, #eee 15px, #333751) no-repeat;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* МЕНЮШКА СВЕРХУ */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    padding-top: 30px;
}

.header_in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;

    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

#first {
    float: left;
}

#second {
    color: #66697e;
}

.nav {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    color: #eee;
    text-transform: uppercase;
}

.nav-link {
    display: inline-block;
    vertical-align: center;
    margin: 0 50px;

    color: #eee;
    text-decoration: none;

    transition: color .1s linear;
}

.nav-link:hover {
    color: #f36223;
}

/* ТИТУЛЬНИК */
.intro_image {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    text-align: right;

    background: url("../images/index_cover.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: right;
}

.subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: initial;
    color: #eee;
    text-align: right;
}

.btn {
    display: inline-block;
    margin: 15% 10%;
    padding: 5px 15px;
    background-color: #f36223;
    border-radius: 15px;

    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: initial;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    transition: box-shadow .1s linear;
}

.btn:hover {
    box-shadow: 0 0 10px #333751;
}